.editor-container {
  position: relative;
}
.editor-container.drag-over .rsw-ce {
  background: #f5f9ff;
  outline: 2px dashed #668;
}
.rsw-editor {
  height: 60vh;
  min-height: 340px !important;
}
.rsw-editor .rsw-btn {
  width: 2.2em;
  height: 2.2em;
  font-size: 1.25em;
}
.rsw-ce .content-image img {
  max-width: 100%;
}
